.Location{
    position: relative;
    width: 100%;
    height: 60em;
    padding-top: 4em;

}
.location-headline{
    padding: 0em 8em;
    margin-bottom: 4em;
    font-size: 1.5em;
    color: white;
}
.leaflet-container{
    position: relative;
    width: 100%;
    height:calc(100% - 12em);
    border: none;
}
.business-info{
    position: absolute;
    bottom: 0em;
    left: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 2em 0em;
    width: 100%;
    height: 10em;
    color: white;
    background-color: #1e1e1e;
    
    z-index: 900;
}
.business__socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 40%;
    padding-bottom: 2em;
}
.business__social-icon{
    color: rgb(150, 150, 150);
    font-size: 1.5em;
    display:inline;
}
.busines__contact{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    width: 100%;
    color: var(--app-gray-light);
}
.busines__contact > li{
    display: flex;
    align-items: center;
    gap: .3em;
}
.icon{
    border-radius: .3em;
}
@media screen and (max-width: 920px){
    .Location{
        height: 70em;
        padding-top: 30em;
    }
}
@media screen and (max-width:430px) {
    .Location{
        height: 85em;
    }
    .leaflet-container{
        height: 51em;
        margin-top: 20em;
    }
    .business-info{
        height: 15em;
    }
}