.contract{
    position: fixed;
    top: 50%;
    left: 50%;
    grid-template-columns: 40% 55%;
    gap: 3em;
    width: 50em;
    padding: 3em;
    background-color: white;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1004;
    box-shadow: .3em .3em 1em rgba(0, 0, 0, 0.1);
    border-radius: .3em;
}
.contract--show{
    display: grid;
}
.contract--hide{
    display: none;
}
.contract__steps{
    width: 100%;
    height: 100%;
}
.forms{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.forms > form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5em;
    width: 100%;
}
.forms >form > label{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    font-weight: bold;
    color: var(--app-gray);
    width: 100%;
}
.forms >form> label >input{
    width: 100%;
    padding: 1em .2em;
    border: none;
    outline: none;
    border-bottom: .2em solid rgba(0, 0, 0, 0.1);
    transition: all .2s ease-in-out;
}
.forms >form> label >input:focus{
    border-bottom: .2em solid var(--app-blue-cobalt);
}
.btns{
    display: flex;
    gap: 1em;
}
.steps-btn{
    padding: 1em 2em;
    margin-top: 2em;
    border-radius: .3em;
    color: var(--app-gray);
    border:none;
    cursor: pointer;
}
.steps-btn--primary{
    background-color: var(--app-blue-cobalt);
    color: white;
}
.steps-btn--done{
    background-color: rgb(102, 206, 102);
    color: white;
}
.input-message{
    margin-top: 1em;
    color: rgb(245, 115, 115);
    font-size: .6em;
    font-style: italic;
    letter-spacing: .1em;
}
.input-message--hidde{
    display: none;
}
.input-message--show{
    display: block;
}
.steps-btn--cancel{
    background-color: rgb(244, 83, 83);
    color: white;
}
@media screen and (max-width:800px) {
    .contract--show{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}