.faq{
    width: 100%;
    height: auto;
    padding: 3em 6em;
}
.faq__headline{
    font-size: 3em;
    padding: 1em 0em;
}
/* COLLAPSE */
.ant-collapse{
    border:none;
    border-radius: 0em;
    background-color: white;
}
.ant-collapse-content{
    border: none !important;
    padding-left: 2em;
}
.ant-collapse-header-text{
    font-size: 1.2em !important;
}
.ant-collapse-content-box >p{
    position: relative;
    padding: .3em 0em .3em 1em;
}
.ant-collapse-content-box > ul > li{
    position: relative;
    padding: .3em 0em .3em 1em;
}
.ant-collapse-content-box > p::after, .ant-collapse-content-box > ul > li::after{
    position: absolute;
    left: -.4em;
    top: 1em;
    content: "";
    width: .3em;
    height: .3em;
    border-radius: 10em;
    background-color: rgb(80, 80, 235);
}
.ant-collapse-item{
    border: none !important;
}
@media screen and (max-width:800px) {
    .faq{
        padding: 3em 3em;
    }
}
@media screen and (max-width:600px) {
    .faq__headline{
        padding: 1em .5em;
    }
    .faq{
        padding: 3em 1em;
    }
}