:root{
    --app-gray: #1e1e1e;
    --app-blue-madison:#09225D;
    --app-gray-mid:#808080;
    --app-gray-light:#CCCCCC;
    /* --app-blue-cobalt:#3a78d9; */
    --app-blue-cobalt:#1253B5;
    --app-blue-light:#85B4F9;
}