.WhyUs{
    position: relative;
    width: 100%;
    min-height: 40em;
    padding-top: 6em;
    background-color: white;
    /*background-color: #E4E4E4;*/
}
.WhyUs__headline{
    position: relative;
    display: flex;
    align-items: center;
    gap: .5em;
    width: 90%;
    padding-left: 4em;
    font-size: 3em;
    font-weight: 800;
    color: #1e1e1e;
}
.WhyUs__headline>span{
    width: 20%;
    height: 0em;
    margin-right: .3em;
    border-bottom: .15em solid var(--app-blue-cobalt);
}
.WhyUs__headline > p:nth-child(3){
    color: var(--app-blue-cobalt);
}
.whyus__features{
    position: relative;
    width: 50%;
    min-height: 26em;
    padding-left: 10em;
    margin-bottom: 3em;
}
.whyus__features-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, 12em);
    gap: 3em;
    justify-content: center;
    height: 100%;
    padding-top: 2em;
}
.whyus__feature{
    position: relative;
    max-width: 15em;
    font-size: .8em;
    line-height: 1.7em;
}
.whyus__feature-icon{
    position: absolute;
    top: 0;
    left: -2em;
    width: 1.5em;
    height: 1.5em;
    color: #606fbf;
}
.whyus__feature>p:nth-child(2){
    font-weight: 600;
}
.whyus__call-to-action{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    width: 70%;
    height: 10em;
    padding-left: 12em;
    background-color: #1e1e1e;
}
.whyus__call-to-action > p{
    font-size: 1.3em;
    font-weight: 600;
    color: #E4E4E4;
}
.whyus__call-to-action > button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 17em;
    background-color: transparent;
    color: #606fbf;
    font-weight: 600;
    border: .1em solid #606fbf;
    padding: 1.6em 2em;
}
.whyus__image{
    position: absolute;
    bottom: 60%;
    right: -22em;
    width: 35em;
    height: 35em;
    border-radius: .2em;
    box-shadow: -.3em .3em 1em rgba(0, 0, 0, 0.3);
    overflow: hidden;
    z-index: 3;
}
.whyus__image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
}
.whyus__image>img{
    width: 100%;
    object-fit: cover;
    transform: scale(1.1);
}
@media screen and (max-width: 920px) {
    .WhyUs{
        min-height: 80em;
    }
    .WhyUs__headline{
        position: absolute;
        width: 100%;
        left: -.5em;
        top: 12em;
        font-size: 2.5em;
        z-index: 5;
    }
    .WhyUs__headline>span{
        position: absolute;
        bottom: -.5em;
        left: 4em
    }
    .whyus__features{
        width: 100%;
        min-height: 50em;
        padding: 0;
    }
    .whyus__features-list{
        position: absolute;
        top: 20em;
        right: 50%;
        width: 80%;
        height: 100%;
        padding: 3em;
        padding-top: 13em;
        transform: translateX(50%);
        background-color: #e4e4e4;
        border-radius: .3em;
        z-index: 4;
    }
    .whyus__feature{
        display: block;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    .whyus__feature-icon{
        position: relative;
        display: block;
        left: 0;
        margin: 0 auto;
    }
    .whyus__call-to-action{
        width: 100%;
        padding: 0;
        height: 2em;
        align-items: center;
        background-color: transparent;
    }
    .whyus__image{
        width: 100%;
        top: -59em;
        right: 50%;
        transform: translateX(50%);
    }
}
@media screen and (max-width: 430px){
    .WhyUs{
        padding: 4em 0em;
    }
    .WhyUs__headline{
        position: relative;
        top: 0;
    }
    .WhyUs__headline{
        font-size: 1.2em;
    }
    .whyus__features{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .whyus__features-list{
        position: relative;
        top: 0;
        right: 0;
        padding: 0;
        padding-top: 4em;
        width: 100%;
        transform: none;
    }
    .whyus__call-to-action{
        display: none;
    }
    .whyus__image{
        display: none;
    }
}