.Featured{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 30em;
    margin: 0 auto;
    padding: 2em 10em;
    color: white;
}
.featured__header{
    display: flex;
    justify-content: space-between;
}
.bg__tagline{
    display: block;
    position:absolute;
    width: 100%;
    text-align: center;
    font-size: 12em;
    font-weight: 900;
    letter-spacing: .1em;
    color:#13131374;
    z-index: 0;
}
.Featured__headline{
    color: white;
}
.featured-cars{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(21em, 1fr));
    gap: 5em;
}
