.Featured{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 30em;
    margin: 0 auto;
    padding: 6em 10em;
    background-color: var(--app-gray);
    color: white;
}
.featured__header{
    display: flex;
    justify-content: space-between;
}
.Featured__search{
    position:absolute;
    top:-4em;
    left:50%;
    width:80%;
    transform: translateX(-50%);
}
.bg__tagline{
    display: block;
    position:absolute;
    width: 100%;
    text-align: center;
    font-size: 12vw;
    font-weight: 900;
    letter-spacing: .1em;
    color:rgba(169, 169, 169, 0.3);
    z-index: 0;
}
.Featured__headline{
    color: var(--app-gray);
}
.featured-cars{
    position: relative;
    display: grid;
    justify-content: end;
    grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 1246px) {
    .bg__tagline{
        font-size: 10vw;
    }
    
}
@media screen and (max-width: 920px){
    .bg__tagline{
        display: none;
    }
    .Featured__headline{
        width: 100%;
        margin-bottom: 2em;
    }
    .featured__header{
        flex-direction: column;
    }
    .Featured__search{
        width: 100%;
    }
    .featured-cars{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 700px){
    .Featured{
        padding: 3em 2em;
    }
    .Featured__headline{
        text-align: center;
    }
    .featured-cars{
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
}
@media screen and (max-width: 620px){
    .featured__header{
        margin-top: 10em;
    }
}
@media screen and (max-width: 430px){
    .featured-cars{
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        gap: 0em;
    }
}