.header{
    width: 100%;
    height: 100%;
}
.nav{
    position: fixed;
    left: 50%;
    display: flex;
    padding: 0em 3em;
    transform: translateX(-50%);
    z-index: 1001;
    box-shadow: 0em  .3em .4em rgba(0, 0, 0, 0.06);
    transition: all .3s ease-in-out;
}
.logo{
    display: flex;
    align-items: center;
    font-weight: 900;
    color: rgb(72, 95, 200);
    height: 100%;
    transition: all .3s ease-in-out;
}
.nav__list{
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2em;
    width: 100%;
    list-style: none;
    color: rgb(40, 40, 40);
    transition: all .3s ease-in-out;
}
.nav__list > li{
    cursor: pointer;
    transition: all .2s ease-in-out;
    /* border-bottom: .2em solid transparent; */
}
.menu{
    display: none;
}
.menu__opened{
    right: 0vw;
}
.menu__closed{
    right: -100vw;
}
@media screen and (max-width: 920px) {
    .nav__list{
        position: fixed;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        z-index: 10;
        background-color: rgb(79, 79, 145);
    }
    .menu{
        display: block;
        position: absolute;
        right: 2em;
        top: 2em;
        z-index: 11;
        cursor: pointer;
    }
}