.Search{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1em;
    width: 100%;
    min-height: 6em;
    margin: 0 auto;
    background-color: white;
    z-index: 100;
    overflow: hidden;
    border:.1em solid rgba(237, 237, 237, 0.335);
}
.Search-shadow{
    box-shadow: .3em .3em 1em rgba(0, 0, 0, 0.2);
}
.date-picker{
    position: relative;
    padding: 3em 0em;
    height: 100%;
    width: 100%;
    border-radius: 0%;
    border: none;
}
.time-picker{
    height: 100%;
    width: 20em;
    padding: 3em 0em;
    border:none;
}
.search-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15em;
    padding: 3em 0em;
    cursor: pointer;
    background-color: var(--app-blue-cobalt);
}
.search-button--disable{
    background-color: rgb(127, 127, 153);
}
.ant-picker-time-panel-cell-disabled{
    display: none;
}
.ant-picker-time-panel-column{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ant-picker-time-panel-column>li{
    padding: 0;
    width: 100%;
    text-align: center;
}
.ant-picker-time-panel-column>li>div{
    display: block;
    width: 100% !important;
    padding: 2em 0em !important;
    color: rgb(116, 116, 116) !important;
    font-weight: bold;
    text-align: center ;
}
.ant-picker-panel{
    width: 20em;
}
.ant-picker-input>input{
    font-weight: bold;
    text-align: center;
    color: var(--app-gray-mid) !important;
    font-size: 1.5em !important;
}
.ant-select{
    height: 100%;
}
.ant-select-selector{
    width: 10em !important;
    height: 10em !important;
    border:none !important;
    font-weight: bold !important;
}
.ant-select-selector>span{
    font-size: 1.5em !important;
    font-weight: bold;
}
.ant-select-selector>.ant-select-selection-item{
    font-weight: bold;
    text-align: center;
    color: rgb(116, 116, 116) !important;
}
.ant-select-item-option-content{
    font-weight: bold !important;
    text-align: center !important;
    color: rgb(116, 116, 116) !important;
}
@media screen and (max-width:620px) {
    .Search{
        flex-direction: column;
        border: none;
    }
    .ant-picker{
        padding: 2em 0em;
    }
    .ant-picker-panels{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }
    .search-button{
        width: 100%;
        height: 4em;
    }
}