.search-date{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5em;
}
.date-picker{
    position: absolute;
    top:-5em;
    left: 50%;
    transform: translateX(-50%);
    padding: 1em 3em;
    border:none;
    outline: none;
    border-radius: .3em;
}
.date-picker__popper{
    z-index: 10;
}