.Search{
    position: relative;
    top: -3em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    width: 50%;
    height: 7em;
    background-color: white;
    border-radius: .3em;
    box-shadow: .3em .3em 1em rgba(0, 0, 0, 0.2);
    z-index: 100;
    overflow: hidden;
}
/* .Search:before{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:  translateX(-50%) translateY(-50%);
    content: "";
    width: 96%;
    height: 80%;
    border-radius: .3em;
} */
.date-picker{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 0%;
    border: none;
    border-right: .1em solid var(--app-gray-light);
}
.time-picker{
    height: 100%;
    width: 20em;
    border:none;
}
.search-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15em;
    cursor: pointer;
    background-color: var(--app-blue-cobalt);
}
.ant-picker-time-panel-cell-disabled{
    display: none;
}
.ant-picker-time-panel-column{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ant-picker-time-panel-column>li{
    padding: 0;
    width: 100%;
    text-align: center;
}
.ant-picker-time-panel-column>li>div{
    display: block;
    width: 100% !important;
    padding: 2em 0em !important;
    color: rgb(116, 116, 116) !important;
    font-weight: bold;
    text-align: center ;
}
.ant-picker-panel{
    width: 20em;
}
.ant-picker-input>input{
    font-weight: bold;
    text-align: center;
    color: var(--app-gray-mid) !important;
    font-size: 1.5em !important;
}