.vehicle{   
    width: 20em;
    min-height: 15em;
    padding: 2em;
    margin-bottom: 4em;
    color: black;
    border-radius: .3em;
    box-shadow: .3em .3em 1em rgba(218, 218, 218, 0.3);
    /* border:.1em solid rgb(246, 246, 246); */
}
.vheicle__image{
    width: 100%;
}
.vehicle__np{
    display: flex;
    justify-content: center;
    gap: 1em;
    font-weight: bold;
}
.vehicle__btn{
    display: block;
    margin: 0 auto;
    margin-top: 2em;
    padding: 1em 3em;
    background-color: transparent;
    color: var(--app-blue-cobalt);
    border-radius: .3em;
    border: .1em solid var(--app-blue-cobalt);
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.vehicle__btn:hover{
    color: white;
    border: .1em solid var(--app-blue-cobalt);
    background-color: var(--app-blue-cobalt);
}
.vehicle__info{
    margin-top: 2em;
    min-height: 4em;
    display: flex;
    flex-direction: column;
    gap: .4em;
    color: var(--app-gray-mid);
}
.check-icon{
    margin-right: .6em;
    color: rgb(51, 188, 51);
}